body {
    margin: 0;
    padding: 0;
    background-image: url(../src/assets/fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: #141212;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #e7a10b;
    border-radius: 20px;
    border: 3px solid orange;
  }